---
layout: default
title: index 
---
<table class="body-wrap">
  <tbody><tr>
    <td></td>
    <td class="container" width="600">
      <div class="content">
        <table class="main" width="100%" cellpadding="0" cellspacing="0">
          <tbody><tr>
            <td class="alert alert-good">
             Parse emails List
            </td>
          </tr>
          <tr>
            <td>
              <br>
              <ul class="posts">

               
                {% for page in site.pages %}
                    
                  {% if page.title != 'index' %}
                    <li>
                      <span class="post-date">{{ page.date | date: "%b %-d, %Y" }}</span>
                      <a target="_blank" class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                    </li>
                  {% endif %}  
                {% endfor %} 


              </ul>
              <br>
            </td>
          </tr>
        </tbody></table>
        <div class="footer">
          <table width="100%">
            <tbody><tr>
              <td class="aligncenter content-block"><p>With ♥ from <a href="https://twitter.com/jgatjens">@gatjens</a></p></td>
            </tr>
          </tbody></table>
        </div></div>
    </td>
    <td></td>

  </tr>
</tbody></table>
